.card
  position: fixed
  z-index: 12
  top: 50%
  left: 50%
  height: 480px
  width: 960px
  box-sizing: border-box
  margin-top: -480px / 2
  margin-left: -960px / 2
  font-size: 24px
  text-align: center
  background: $cbg
  box-shadow: 0 0 12px rgba(#000, 0.2)

  .cardContent
    overflow: auto
    height: 480px - $topBarHeight
    box-sizing: border-box
    padding: 0 5em
    box-shadow: 0 0 60px rgba($cbg - #111, 0.4) inset

    .inner
      display: inline-block
      vertical-align: middle

      p
        line-height: 1.5em

  h1
    margin: 0 auto
    font-size: 2.5em

  ul
    text-align: left

  li
    margin: 0.5em 0

  nav
    position: absolute
    z-index: 3
    left: 0
    bottom: 0
    height: $topBarHeight
    width: 100%
    background: $cbg

    button
      height: 100%
      line-height: $topBarHeight - 3px !important
      width: 50%
      box-sizing: border-box
      padding: 0
      border: 0
      border-top: 1px solid $cbg - #111
      outline: 0
      font: 300 30px Lato, sans-serif
      background: transparent
      box-shadow: 0 0 60px rgba($cbg - #111, 0.4) inset
      cursor: pointer

      &:disabled
        color: $cbg - #222

      &:nth-child(1)
        border-right: 1px solid $cbg - #111

  .previous
    float: left

  .next, .go
    float: right

    &:disabled
      display: none

  .go
    @if lightness($cbrand2) < 66%
      color: $cbg
    @else
      color: #333
    background: $cbrand2
    box-shadow: 0 0 60px rgba($cbrand2 - #111, 0.4) inset
